/* Menu */
.menu {
    display: flex;
    overflow-x: auto;
    margin: 4rem 1.5rem 1.5rem;
}
.menu button {
    background: var(--white);
    border: .1rem solid var(--grey);
    border-radius: .5rem;
    outline: none;
    white-space: nowrap;
    padding: .6rem;
    margin-right: .5rem;
    cursor: pointer;
}
.selected {
    color: var(--white);
    background: var(--blue) !important;
    border: .1rem solid var(--blue) !important;
}
.menu::-webkit-scrollbar {
    display: none;
}
.list {
    padding: 0 1.5rem 1rem;
}
.empty {
    top: calc(50% - 5.5rem);
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
}