.container {
    padding: 4rem 1.3rem 1.3rem;
}
.container h1 {
    font-size: 1.3rem;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.list > div {
    width: calc(50% - .6rem);
    margin-bottom: 1rem;
}