.container {
    padding: 4.5rem 2rem 2rem;
}

/* User */
.user {
    display: flex;
    margin-bottom: 2rem;
}
.user img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.user h4 {
    color: var(--blue);
}
.user p {
    color: var(--grey);
}

/* Menu */
.menu p {
    color: var(--grey);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .8rem 0;
    cursor: pointer;
}
.menu p:hover {
    color: var(--blue);
}
.menu svg {
    width: 1rem;
    fill: var(--grey);
}
.menu div {
    margin-left: 1rem;
}
.menu div p {
    font-weight: normal;
}