.select {
    position: relative;
}
.select i {
    top: .8rem;
    right: 1rem;
    width: 1rem;
    fill: var(--blue);
    position: absolute;
    pointer-events: none;
}

/* Header */
.header {
    color: var(--blue);
    font-weight: bold;
    border: .1rem solid var(--blue);
    border-radius: .5rem;
    padding: .5rem .7rem .6rem;
    cursor: pointer;
}

/* Options */
.options {
    width: 100%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--shadow);
    position: absolute;
    margin-top: .5rem;
    z-index: 1;
}
.options p {
    color: var(--dark);
    font-size: .9rem;
    margin: .8rem 1rem;
    cursor: pointer;
}