/* Facilities */
.facilities {
    position: relative;
    margin: 1.5rem 0;
}
.facilities input {
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border-bottom: .1rem solid var(--light);
    outline: none;
    padding: .5rem .7rem;
    margin-bottom: .5rem;
}

/* Options */
.options {
    width: 100%;
    background: var(--white);
    border-radius: .5rem;
    box-shadow: 0 0 .5rem var(--shadow);
    position: absolute;
    z-index: 1;
}
.options p {
    color: var(--dark);
    font-size: .9rem;
    margin: .7rem 1rem;
    cursor: pointer;
}

/* List */
.list {
    display: flex;
    flex-wrap: wrap;
}
.list span {
    color: var(--blue);
    font-size: .8rem;
    background: var(--light-blue);
    border-radius: .5rem;
    white-space: nowrap;
    padding: .4rem .5rem .5rem;
    margin: .3rem;
}
.list span b {
    margin-left: .3rem;
    cursor: pointer;
}