.popup {
    margin: .8rem;
}
.popup a {
    color: var(--white);
    text-decoration: none;
    background: var(--blue);
    border-radius: .3rem;
    display: inline-block;
    padding: .3rem .5rem;
    margin-top: .8rem;
}

.detail {
    display: flex;
}
.detail img {
    width: 4rem;
    margin-right: .8rem;
}
.detail h3 {
    font-size: .9rem;
    font-family: 'Quicksand';
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.detail p {
    font-size: .8rem;
    font-family: 'Quicksand';
    white-space: nowrap;
    margin: 0;
}

.gpsIcon {
    width: 2.1rem;
    height: 2.2rem;
    top: 10rem;
    left: 1rem;
    background: var(--white);
    border: .125rem solid #0004;
    border-radius: .2rem;
    position: absolute;
    padding: .3rem;
    cursor: pointer;
}